/* Fredoka */
@font-face {
  font-family: "Fredoka";
  src: url("../../public/fonts/Fredoka-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("../../public/fonts/Fredoka-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("../../public/fonts/Fredoka-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("../../public/fonts/Fredoka-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("../../public/fonts/Fredoka-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

/* Expanded */
@font-face {
  font-family: "Fredoka Expanded";
  src: url("../../public/fonts/Fredoka_Expanded-Bold.ttf") format("ttf");
  font-weight: 700;
  font-stretch: expanded;
}

/* Toroka Condensed */

@font-face {
  font-family: "Toroka Condensed";
  src: url("../../public/fonts/Toroka-Condensed-Medium.ttf") format("ttf");
  font-weight: 500;
}

/* Toroka */

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Toroka";
  src: url("../../public//fonts/Toroka-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
