.label-float span {
  transition: all ease-in;
}

.input-auth:focus + .label-float span,
.input-auth:not(:placeholder-shown) + .label-float span {
  transform: translateY(-1.775rem);
  color: rgb(13, 140, 224);
  font-size: 0.8rem;
  background-color: white;
}
